.imageContainer {
  width: 100%;
  height: 85vh;
  background: linear-gradient(90deg, #0008, #0008),
    url("./../../../assets/bg.jpg");
  background-position: center;
  background-size: cover;
}

@media (max-width: 550px) {
  .imageContainer {
    height: 60vh;
  }
}
